{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-title-%s")|format(title)) %}

<h1>{{ translate("txt-title-%s")|format(title) }}</h1>

<h2><strong>{{ translate("txt-title-information") }}</strong></h2>
<dl class="dl-horizontal">
    <dt>{{ translate("txt-title-id") }}</dt>
    <dd>{{ title.id }}</dd>

    <dt>{{ translate("txt-title-name") }}</dt>
    <dd>{{ title.name }}</dd>

    <dt>{{ translate("txt-title-attention") }}</dt>
    <dd>{{ title.attention|raw }}</dd>

    <dt>{{ translate("txt-title-salutation") }}</dt>
    <dd>{{ title.salutation|raw }}</dd>
</dl>


{{ titleLink(title,'edit','button') }} {{ titleLink(null, 'new','button') }} {{ titleLink(null, 'list','button') }}