{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-currency-list")) %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{% set filter = form.get('filter') %}

<h1>{{ translate("txt-currency-list") }} {{ currencyLink(null, 'new','button') }}</h1>

<div class="row">
    <div class="col-md-6">
        <p class="lead">{{ translate("txt-currency-list-explanation") }}</p>
    </div>
    <div class="col-md-6">
        <div class="input-group">
            {{ formelement(filter.get('search')) }}
            <div class="input-group-append input-group-btn">
                {{ formelement(form.get('submit')) }}
                {{ formelement(form.get('clear')) }}
            </div>
        </div>
    </div>
</div>

{% if paginator.pageRange > 0 %}
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/currency/list', 'criteria': 'id', 'text': translate("txt-id")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/currency/list', 'criteria': 'name', 'text': translate("txt-name")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/currency/list', 'criteria': 'iso4217', 'text': translate("txt-iso4217")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/currency/list', 'criteria': 'symbol', 'text': translate("txt-symbol")} %}</th>
            <th class="text-end">{{ translate("txt-exchange-rate") }}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="5"></td
        </tr>
        </tfoot>
        <tbody>
        {% for currency in paginator.getCurrentItems() %}
            <tr>
                <td><small class="text-muted">{{ currency.id }}</small></td>
                <td>{{ currencyLink(currency,'view','name') }} {{ currencyLink(currency,'edit', 'icon') }}</td>
                <td>{{ currency.iso4217 }}</td>
                <td>{{ currency.symbol }}</td>
                <td class="text-monospace text-end">{{ generalService.findActiveExchangeRate(currency).rate }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'application/partial/pagination-control' %}
{% else %}
    {{ ztbalert().info(translate("txt-no-countries-could-be-found"))|raw }}
{% endif %}

{{ form().closeTag()|raw }}

