{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-currency-%s")|format(currency)) %}

<h1>{{ translate("txt-currency-%s")|format(currency) }} {{ currencyLink(currency,'edit','button') }}</h1>

<h2>{{ translate("txt-currency-information") }}</h2>
<dl class="dl-horizontal">
    <dt>{{ translate("txt-currency-name") }}</dt>
    <dd>{{ currency.name }}</dd>
    <dt>{{ translate("txt-currency-iso4217") }}</dt>
    <dd>{{ currency.iso4217 }}</dd>
    <dt>{{ translate("txt-currency-symbol") }}</dt>
    <dd>{{ currency.symbol }}</dd>
</dl>