{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-errorlog-list")) %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{% set filter = form.get('filter') %}



<div class="row">

    <div class="col-md-12">
        <h1>{{ translate("txt-error-log-list") }}</h1>

        <div class="row">
            <div class="col-md-6">
                <p class="lead">{{ translate("txt-log-list-explanation") }}</p>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    {{ formelement(filter.get('search')) }}
                    <div class="input-group-append input-group-btn">
                        {{ formelement(form.get('submit')) }}
                    </div>
                </div>
            </div>
        </div>

        {% if paginator.pageRange > 0 %}
            <table class="table table-hover table-striped table-sm">
                <thead>
                <tr>
                    <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/log/list', 'criteria': 'event', 'text': translate("txt-event")} %}</th>
                    <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/log/list', 'criteria': 'date', 'text': translate("txt-date")} %}</th>
                    <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/log/list', 'criteria': 'type', 'text': translate("txt-log-type")} %}</th>
                </tr>
                </thead>
                <tbody>
                {% for log in paginator.getCurrentItems() %}
                    <tr>
                        <td>{{ generalLogLink(log) }}</td>
                        <td>{{ log.date }}</td>
                        <td>{{ log.errorType }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            <input type="submit" name="submit" class="btn btn-danger" value="{{ translate("txt-truncate-log") }}">

            {% include 'application/partial/pagination-control' %}
        {% else %}
            {{ ztbalert().info(translate("txt-no-logs-could-be-found"))|raw }}
        {% endif %}
    </div>
</div>

{{ form().closeTag()|raw }}

