{% do form.prepare() %}
{{ form().openTag(form)|raw }}

<div class="row">

    <div class="col-md-9">
        <h1 class="display-4">{{ translate("txt-impact-stream") }} <a class="btn btn-primary"
                                                                      href="/publication/download/itea-impact-stream.pdf">{{ translate("txt-download-full-impact-stream") }}</a>
            <a id="toggle-help" class="cursor-help"><i class="fa fa-question-circle" id="#toggle-help"></i></a>
        </h1>

        <div class="well" id="impact-stream-help" style="display: none">
            <p>{{ translate("txt-impact-stream-help") }}</p>
        </div>


        {{ translate("txt-impact-stream-explanation") }}


        <br>

        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    {{ formelement(form.get('query')) }}
                    <span class="input-group-btn">
                {{ formelement(form.get('search')) }}
                        {{ formelement(form.get('reset')) }}
            </span>
                </div>
            </div>
        </div>

        <img class="img-responsive center-block" src="assets/img/hr.png">


        {% if paginator.pageRange > 0 %}
            <div class="row">
            {% for resultField in paginator.getCurrentItems() %}

                <div class="col-md-12">


                    {% set result = projectService.findEntityById("Project\\Entity\\Result\\Result", resultField['result_id']) %}


                    <div class="result-list-detailed-body">

                        {% set highlightDoc = highlighting.getResult(resultField['id']) %}
                        {% if highlightDoc and highlightDoc is not empty %}
                            <span style="font-size: 1.5em">{{ resultLink(result,'view-public','name') }}</span>
                            <dl class="dl-horizontal">
                                {% for field, highlight in highlightDoc %}
                                    <dt>{{ highlightingFields[field] }}:</dt>
                                    <dd>...{{ highlight|join(' (...) ')|striptags('<mark>')|raw }}...</dd>
                                {% endfor %}
                            </dl>
                        {% else %}


                            <h2>{{ resultLink(result,'view-public','name') }}</h2>

                            {% set challenges = [] %}
                            {% for project in projectService.findProjectsByResult(result) %}
                                {% for projectChallenge in project.projectChallenge if projectChallenge.challenge.id not in challenges %}

                                    {{ challengeIcon(projectChallenge.challenge, 25) }}
                                    {{ challengeLink(projectChallenge.challenge, 'view','name') }}

                                    {% set challenges = challenges|merge([projectChallenge.challenge.id]) %}
                                {% endfor %}
                            {% endfor %}

                            <div class="row" style="padding-top: 10px;">
                                <div class="col-md-9">
                                    <p>{{ result.abstract }}</p>
                                </div>

                                <div class="col-md-3">
                                    {% if result.image %}
                                        <div class="result-list-detailed-image">{{ image(result.image, 200, null, false, true, constant('\\Content\\Form\\ImageManipulation::FIT_IN')) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        <span class="text-muted">{{ translate("txt-date-updated: %s")|format(result.dateReleased|date('d-m-Y')) }}</span>

                    </div>

                    <div class="well well-sm" style="margin-top: 10px;">
            <span class="text-muted">
<label style="font-weight: normal">
                      <input type="checkbox" class="result"
                             value="{{ result.id }}"> {{ translate("txt-check-for-download") }}
    </label>
                <div class="pull-right"><a href="{{ resultLink(result, 'download', 'social') }}"><i
                                class="fa fa-file-pdf-o"></i> {{ translate("txt-single-story-download") }}</a></div>
            </span>
                    </div>


                </div>


                {% if loop.index is divisible by(1) %}

                    </div>
                    <img class="img-responsive center-block" src="assets/img/hr.png">
                    <div class="row">
                {% endif %}

            {% endfor %}

            </div>
            <br class="clearfix">
            {% include 'general/partial/pagination-control' %}
            <a class="btn btn-primary"
               href="{{ url('impact-stream/download') }}?{{ arguments }}">{{ translate("txt-generate-pdf-for-all-results") }}</a>
            <a class="btn btn-primary hidden" id="download_generated"
               href="">{{ translate("txt-generate-pdf-for-selected-results") }}</a>


        {% else %}
            {{ ztbalert().info(translate("txt-no-impact-stream-could-be-found"))|raw }}
        {% endif %}


    </div>
    <div class="col-md-3">

        <h3>{{ translate("txt-challenges") }}</h3>
        <table class="table table-striped table-hover table-condensed table-sm">

            {% for challenge in allChallenges %}
                <tr>
                    <td>{{ challengeIcon(challenge, 30) }}</td>
                    <td>{{ challengeLink(challenge, 'view') }}</td>
                </tr>
            {% endfor %}
        </table>

        <h3>{{ translate("txt-filter") }}</h3>
        <div class="well well-sm">

            {{ ztbformelement(form.get('dateInterval')) }}

            {% set facets = form.get('facet') %}
            {% for facet in facets %}
                {{ ztbformelement(facet) }}
            {% endfor %}
        </div>
    </div>
</div>

{{ form().closeTag()|raw }}


<script type="text/javascript">
    $(function () {
        $('#toggle-help').click(function () {
            $('#impact-stream-help').toggle('fade').fade();
        });

        $('input[type="checkbox"]').not('.result').on('click', function () {
            $('#search').submit();
        });
        $('input[type="radio"]').on('change', function () {
            $('#search').submit();
        });
        $('#searchButton').on('click', function () {
            $('#search').submit();
        });
        $('#resetButton').on('click', function () {
            $('input[type="checkbox"]').each(function () {
                this.removeAttribute('checked');
            });
            $('input[name="query"]').val('');
            $('#search').submit();
        });


        $('.result').on('change', function (e) {

            var string = '{{ url('impact-stream/download-selected') }}?result=';
            var toggled = false;
            $('.result').each(function () {
                if ($(this).prop('checked')) {
                    toggled = true;
                    string += $(this).val();
                    string += ',';
                }
            });

            $('#download_generated').attr('href', string.replace(/(^,)|(,$)/g, "")).toggleClass('hidden', !toggled);

        });

    });
</script>