{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-vat-type-list")) %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{% set filter = form.get('filter') %}

<h1>{{ translate("txt-vat-type-list") }} {{ vatTypeLink(null, 'new','button') }}</h1>

<div class="row">
    <div class="col-md-6">
        <p class="lead">{{ translate("txt-vat-type-list-explanation") }}</p>
    </div>
    <div class="col-md-6">
        <div class="input-group">
            {{ formelement(filter.get('search')) }}
            <div class="input-group-append input-group-btn">
                {{ formelement(form.get('submit')) }}
            </div>
        </div>
    </div>
</div>

{% if paginator.pageRange > 0 %}
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/vat-type/list', 'criteria': 'id', 'text': translate("txt-id")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/vat-type/list', 'criteria': 'vat-type', 'text': translate("txt-code")} %}</th>
            <th>{{ translate("txt-description") }}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/vat-type/list', 'criteria': 'vat', 'text': translate("txt-vat")} %}</th>
        </tr>
        </thead>
        <tbody>
        {% for vatType in paginator.getCurrentItems() %}
            <tr>
                <td><small class="text-muted">{{ vatType.id }}</small></td>
                <td>{{ vatTypeLink(vatType,'view','type') }} {{ vatTypeLink(vatType,'edit', 'icon') }}</td>
                <td>{{ vatType.description }}</td>
                <td>{{ vatLink(vatType.vat,'view','name) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'application/partial/pagination-control' %}
{% else %}
    {{ ztbalert().info(translate("txt-no-vat-type-could-be-found"))|raw }}
{% endif %}

{{ form().closeTag()|raw }}

