{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-vat-type-%s")|format(vatType)) %}

<h1>{{ translate("txt-vat-type-%s")|format(vatType) }}</h1>

<h2>{{ translate("txt-vat-type-information") }}</h2>
<dl class="dl-horizontal">
    <dt>{{ translate("txt-vat-type-name") }}</dt>
    <dd>{{ vatType.type }}</dd>

    <dt>{{ translate("txt-vat-type-description") }}</dt>
    <dd>{{ vatType.description|raw }}</dd>

    <dt>{{ translate("txt-vat-type-vat") }}</dt>
    <dd>{{ vatLink(vatType.vat,'view','code') }}</dd>

    <dt>{{ translate('txt-invoice-dimension') }}</dt>
    {% for dimension in vatType.dimension %}
        <dd>{{ dimensionLink(dimension,'view','dimension') }}</dd>
    {% else %}
        <dd>{{ translate("txt-no-dimensions") }}</dd>
    {% endfor %}
</dl>

{{ vatTypeLink(vatType,'edit','button') }} {{ vatTypeLink(null, 'new','button') }} {{ vatTypeLink(null, 'list','button') }}