{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-password-%s")|format(password)) %}

<h1 class="display-4">{{ translate("txt-password-%s")|format(password) }} {{ passwordLink(password,'edit','button') }}</h1>

<h2>{{ translate("txt-password-information") }}</h2>
<dl class="dl-horizontal">
    <dt>{{ translate("txt-password-description") }}</dt>
    <dd>{{ password.description }}</dd>
    <dt>{{ translate("txt-password-website") }}</dt>
    <dd><a href="{{ password.website }}">{{ password.website }}</a></dd>
    <dt>{{ translate("txt-password-account") }}</dt>
    <dd>{{ password.account }}</dd>
    <dt>{{ translate("txt-password-username") }}</dt>
    <dd>{{ password.username }}</dd>
    <dt>{{ translate("txt-password-password") }}</dt>
    <dd>{{ password.password }}</dd>
</dl>