<h2>{{ translate("txt-challenges") }}</h2>

<div class="row">
    {% for challenge in challenge %}
        <div class="col-md-6 col-sm-6">
            <div class="well challenge-box">
                <h3><img width="50px"
                         src="assets/{{ constant("DEBRANOVA_HOST") }}/style/image/{{ challenge.docRef|lower }}.png">
                    {{ challengeLink(challenge,'view','name') }}
                </h3>

                {{ challenge.parseAbstract|raw }}
            </div>
        </div>
    {% endfor %}
</div>
