<h2>{{ translate("txt-itac-countries-in-itea") }}</h2>

<div class="row">
    {% for countryContainer in countries %}

        {% set country = countryContainer.country %}
        <div class="col-md-3">
            <div class="thumbnail information-box">
                <div class="information-box-header clearfix">
                    <div class="pull-left">
                        <h3 class="information-box-title">{{ countryLink(country,'view','name') }}</h3>
                        {% if country.itac %}{{ translate("txt-itac") }}
                            {% if country.eureka %} · {% endif %}
                        {% endif %}
                        {% if country.eureka %}{{ translate("txt-eureka") }}{% endif %}
                    </div>
                    <div class="pull-right">{{ countryLink(country,'view','flag') }}</div>
                </div>

                <dl>
                    <dt>{{ translate("txt-partners") }}</dt>
                    <dd>{{ countryLink(country,'view-organisation', 'custom', countryContainer.partners) }}</dd>
                    <dt>{{ translate("txt-projects") }}</dt>
                    <dd>{{ countryLink(country,'view-project', 'custom', countryContainer.projects) }}</dd>
                </dl>
            </div>

        </div>
    {% endfor %}
</div>