<h1>{{ translate("txt-countries-in-itea") }}</h1>

<div class="row">
    {% for affiliation in countries %}
        {#due to the structure of the query in Doctrine2 we are polling the countries via the affiliations#}
        {% set country = affiliation.affiliation.organisation.country %}
        <div class="col-xs-3">
            <div class="thumbnail information-box">
                <div class="information-box-header clearfix">
                    <div class="pull-left">
                        <h3 class="information-box-title">{{ countryLink(country,'view','name') }}</h3>
                        {% if country.itac %}{{ translate("txt-itac") }}
                            {% if country.eureka %} · {% endif %}
                        {% endif %}
                        {% if country.eureka %}{{ translate("txt-eureka") }}{% endif %}
                    </div>
                    <div class="pull-right">{{ countryLink(country,'view','flag') }}</div>
                </div>

                <dl>
                    <dt>{{ translate("txt-partners") }}</dt>
                    <dd>{{ countryLink(country,'view-organisation', 'custom', affiliation.partners) }}</dd>
                    <dt>{{ translate("txt-projects") }}</dt>
                    <dd>{{ countryLink(country,'view-project', 'custom', affiliation.projects) }}</dd>
                </dl>
            </div>

        </div>
    {% endfor %}
</div>
