<h1 class="display-4">{{ translate("txt-organisation-list-in-country-%s")|format(country) }}</h1>

<div id="organisation-list">
    {% if paginator.pageRange > 0 %}
        <table class="table table-condensed table-striped table-hover">
            <thead>
            <tr>
                <th>{{ translate("txt-organisation") }}</th>
                <th>{{ translate("txt-type") }}</th>
            </tr>
            </thead>
            {% for organisation in paginator.getCurrentItems() %}
                <tr>
                    <td>{{ organisationLink(organisation,'view','name') }}</td>
                    <td>{{ organisation.type }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        {{ ztbalert().info(translate("txt-no-organisations-found"))|raw }}
    {% endif %}
</div>
{% include 'general/partial/list/pagination' with {'paginator': paginator} %}
