<h3>{{ translate("txt-country-%s-project-list")|format(country) }}</h3>
<div class="row">
    {% for project in projects %}
    <div class="col-md-3">

        <div class="thumbnail information-box-dynamic">
            <div class="information-box-header clearfix">
                {{ project.number }}
                <h3 class="information-box-title">
                    {{ projectLink(project,'view','name-without-number') }}
                </h3>
            </div>

            <div class="information-box-image">
                <div class="center-block">
                    {{ projectLogo(project, 'img-responsive') }}
                </div>
            </div>

            <dl>
                <dt>{{ translate("txt-program-call") }}</dt>
                <dd>{{ callLink(project.call,'view-list') }}</dd>
                <dt>{{ translate("txt-status") }}</dt>
                <dd>{{ projectService.parseStatus(project) }}</dd>
                <dt>{{ translate("txt-project-leader") }}</dt>
                <dd>{{ project.contact.parseFullname() }}</dd>
            </dl>

        </div>
    </div>
    {% if loop.index is divisible by(4) %}
</div>
<div class="row">
    {% endif %}

    {% endfor %}
</div>
