<h3>{{ translate("txt-country-%s-project-list")|format(country) }}</h3>

<div class="row">
    {% for projectService in projects %}
    <div class="col-md-3">

        <div class="thumbnail information-box">

            <div class="information-box-header clearfix">
                {{ projectService.project.number }}
                <h3 class="information-box-title">
                    {{ projectLink(projectService,'view','name-without-number') }}
                </h3>
            </div>

            <div class="information-box-image">
                <div class="center-block">
                    {{ projectLogo(projectService, 'img-responsive') }}
                </div>
            </div>


            <dl>
                <dt>{{ translate("txt-program-call") }}</dt>
                <dd>{{ callLink(projectService.project.call,'view') }}</dd>
                <dt>{{ translate("txt-status") }}</dt>
                <dd>{{ projectService.parseStatus() }}</dd>
                <dt>{{ translate("txt-project-leader") }}</dt>
                {% set contactService = contactServiceProxy(projectService.project.contact) %}
                <dd>{{ contactService.parseFullname() }}</dd>
            </dl>

        </div>
    </div>
    {% if loop.index is divisibleby(4) %}
</div>
<div class="row">
    {% endif %}

    {% endfor %}
</div>
