{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-content-type-%s")|format(contentType)) %}

<h1>{{ contentType.contentType }} {{ contentTypeLink(contentType,'edit','button') }}</h1>

<h2>{{ translate("txt-content-type-information") }}</h2>
<dl class="dl-horizontal">
    <dt>{{ translate("txt-content-id") }}</dt>
    <dd>{{ contentType.id }}</dd>
    <dt>{{ translate("txt-description") }}</dt>
    <dd>{{ contentType.description }}</dd>
    <dt>{{ translate("txt-content-type") }}</dt>
    <dd>{{ contentType.contentType }}</dd>
</dl>