{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-challenge-type-list")) %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{% set filter = form.get('filter') %}

<input type="hidden" name="filter[order]" value="{{ order }}">
<input type="hidden" name="filter[direction]" value="{{ direction }}">

<div class="row">

    <div class="col-md-10">
        <h1 class="display-4">{{ translate("txt-challenge-type-list") }} {{ challengeTypeLink(null,'new','button') }}</h1>

        <div class="row">
            <div class="col-md-6">
                <p class="lead">{{ translate("txt-challenge-type-list-explanation") }}</p>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    {{ formelement(filter.get('search')) }}
                    <div class="input-group-append">
                        {{ formelement(form.get('submit')) }}
                    </div>
                </div>
            </div>
        </div>

        {% if paginator.pageRange > 0 %}
            <table class="table table-hover table-striped table-condensed table-sm">
                <thead>
                <tr>
                    <th>{% include 'general/partial/sortable-table-header' with {'route': 'zfcadmin/challenge/type/list', 'criteria': 'id', 'text': translate('txt-id')} %}</th>
                    <th>{% include 'general/partial/sortable-table-header' with {'route': 'zfcadmin/challenge/type/list', 'criteria': 'type', 'text': translate('txt-type')} %}</th>
                    <th>{% include 'general/partial/sortable-table-header' with {'route': 'zfcadmin/challenge/type/list', 'criteria': 'sequence', 'text': translate('txt-sequence')} %}</th>
                    <th>{{ translate("txt-amount-of-challenges") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for challengeType in paginator.getCurrentItems() %}
                    <tr>
                        <td>
                            {{ challengeType.id }}
                            {{ challengeTypeLink(challengeType,'edit','icon') }}
                        </td>
                        <td>{{ challengeTypeLink(type,'view-admin','name') }}</td>
                        <td>{{ challengeType.sequence }}</td>
                        <td>{{ challengeType.challenge.count() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'general/partial/pagination-control' %}
        {% else %}
            {{ ztbalert().info(translate("txt-no-challenge-types-could-be-found"))|raw }}
        {% endif %}
    </div>
    <div class="col-md-2">
        <div class="well well-sm">
            <fieldset>
                <div class="form-group row">
                    {{ ztbformelement(form.get('submit')) }}
                    {{ ztbformelement(form.get('clear')) }}
                </div>
            </fieldset>
        </div>
    </div>
</div>

{{ form().closeTag()|raw }}

