{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-challenge-type-list")) %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{% set filter = form.get('filter') %}

<h1>{{ translate("txt-challenge-type-list") }} {{ challengeTypeLink(null,'new','button') }}</h1>

<div class="row">
    <div class="col-md-6">
        <p class="lead">{{ translate("txt-challenge-type-list-explanation") }}</p>
    </div>
    <div class="col-md-6">
        <div class="input-group">
            {{ formelement(filter.get('search')) }}
            <div class="input-group-append input-group-btn">
                {{ formelement(form.get('submit')) }}
                {{ formelement(form.get('clear')) }}
            </div>
        </div>
    </div>
</div>

{% if paginator.pageRange > 0 %}
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/challenge/type/list', 'criteria': 'id', 'text': translate('txt-id')} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/challenge/type/list', 'criteria': 'type', 'text': translate('txt-type')} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/challenge/type/list', 'criteria': 'sequence', 'text': translate('txt-sequence')} %}</th>
            <th>{{ translate("txt-amount-of-challenges") }}</th>
        </tr>
        </thead>
        <tfoot>
            <tr><td colspan="4"></td></tr>
        </tfoot>
        <tbody>
        {% for challengeType in paginator.getCurrentItems() %}
            <tr>
                <td><small>{{ challengeType.id }}</small></td>
                <td>{{ challengeTypeLink(challengeType,'view','name') }} {{ challengeTypeLink(challengeType,'edit','icon') }}</td>
                <td>{{ challengeType.sequence }}</td>
                <td>{{ challengeType.challenge.count() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'application/partial/pagination-control' %}
{% else %}
    {{ ztbalert().info(translate("txt-no-challenge-types-could-be-found"))|raw }}
{% endif %}

{{ form().closeTag()|raw }}

