{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-email-message-list")) %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{% set filter = form.get('filter') %}

<input type="hidden" name="filter[order]" value="{{ order }}">
<input type="hidden" name="filter[direction]" value="{{ direction }}">

<div class="row">

    <div class="col-md-12">
        <h1>{{ translate("txt-email-message-list") }}</h1>

        <div class="row">
            <div class="col-md-6">
                <p class="lead">{{ translate("txt-email-message-list-explanation") }}</p>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    {{ formelement(filter.get('search')) }}
                    <span class="input-group-btn">{{ formelement(form.get('submit')) }}</span></div>
            </div>
        </div>

        {% if paginator.pageRange > 0 %}
            <table class="table table-hover table-striped table-condensed">
                <thead>
                <tr>
                    <th>{% include 'general/partial/sortable-table-header' with {'route': 'zfcadmin/email/list', 'criteria': 'subject', 'text': translate('txt-name')} %}</th>
                    <th>{% include 'general/partial/sortable-table-header' with {'route': 'zfcadmin/email/list', 'criteria': 'id', 'text': translate('txt-date-send')} %}</th>
                    <th>{{ translate('txt-contact') }}</th>
                    <th>{{ translate('txt-mailing') }}</th>
                    <th>{% include 'general/partial/sortable-table-header' with {'route': 'zfcadmin/email/list', 'criteria': 'latest_event', 'text': translate('txt-latest-event')} %}</th>
                    <th>{% include 'general/partial/sortable-table-header' with {'route': 'zfcadmin/email/list', 'criteria': 'date_latest_event', 'text': translate('txt-date-latest-event')} %}</th>
                </tr>
                </thead>
                <tbody>
                {% for emailMessage in paginator.getCurrentItems() %}
                    <tr>
                        <td class="ellipsis" title="{{ emailMessage.identifier }}">{{ emailMessageLink(emailMessage,'view', 'subject') }}</td>
                        <td>{{ emailMessage.dateCreated|string_date }}</td>
                        <td>{% if emailMessage.contact %}{{ contactLink(emailMessage.contact,'view-admin','name') }}{% else %}{{ emailMessage.emailAddress }}{% endif %}</td>
                        <td>{% if emailMessage.mailingContact %}{{ mailingLink(emailMessage.mailingContact.mailing,'view','name') }} {{ mailingContactLink(emailMessage.mailingContact,'view','icon') }}{% endif %}</td>
                        <td>{{ emailMessage.latestEvent }}</td>
                        <td>{{ emailMessage.dateLatestEvent|string_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'general/partial/pagination-control' %}
        {% else %}
            {{ ztbalert().info(translate("txt-no-emails-could-be-found"))|raw }}
        {% endif %}
    </div>

    <div class="col-md-12">
        <div class="well well-sm">
            <fieldset>
                {{ ztbformelement(filter.get('latestEvent')) }}
                <div class="form-group">
                    {{ ztbformelement(form.get('submit')) }}
                    {{ ztbformelement(form.get('clear')) }}
                </div>
            </fieldset>
        </div>
    </div>
</div>

{{ form().closeTag()|raw }}

