{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{% set type = form.get('general_entity_challenge_type') %}

{{ lbs5formelement(type.get('id')) }}
{{ lbs5formelement(type.get('type')) }}
{{ lbs5formelement(type.get('description')) }}
{{ lbs5formelement(type.get('sequence')) }}
{{ lbs5formelement(type.get('activeForCalls')) }}

{{ lbs5formelement(form.get('csrf')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ formelement(form.get('submit')) }}
        {{ formelement(form.get('cancel')) }}
        {% if form.has('delete') %}
            {{ formelement(form.get('delete')) }}
        {% endif %}
    </div>
</div>
{{ form().closeTag()|raw }}
