{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-country-list")) %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}


<h1>{{ translate("txt-country-list") }} {{ countryLink(null, 'new','button') }}</h1>

{{ filterbarelement(form) }}
{% include('application/partial/form-badges') %}
<p class="text-muted">{{ translate("txt-%s-items-on-%s-pages")|format(paginator.adapter.count,paginator.pageRange) }}</p>


{% if paginator.pageRange > 0 %}
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/country/list', 'criteria': 'id', 'text': translate('txt-id')} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/country/list', 'criteria': 'name', 'text': translate('txt-name')} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/country/list', 'criteria': 'iso3', 'text': translate('txt-iso3')} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/country/list', 'criteria': 'cd', 'text': translate('txt-cd')} %}</th>
            <th>{{ translate('txt-numcode') }}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/country/list', 'criteria': 'is_eu', 'text': translate('txt-eu')} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/country/list', 'criteria': 'is_eureka', 'text': translate('txt-eureka')} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/country/list', 'criteria': 'is_itac', 'text': translate('txt-itac')} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/country/list', 'criteria': 'funders', 'text': translate('txt-funders')} %}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="9"></td>
        </tr>
        </tfoot>
        <tbody>
        {% for countryResult in paginator.getCurrentItems() %}

            {% set country = countryService.findCountryById(countryResult.fields.country_id) %}

            <tr>
                <td>{{ country.id }} {{ countryLink(country,'edit', 'icon') }}</td>
                <td>{{ countryLink(country,'view-admin','name') }} {{ countryLink(country,'view','icon') }}</td>
                <td>{{ country.iso3 }}</td>
                <td>{{ country.cd }}</td>
                <td>{{ country.numcode }}</td>
                <td>{% if country.eu %}YES{% endif %}</td>
                <td>{% if country.eureka %}YES{% endif %}</td>
                <td>{% if country.itac %}YES{% endif %}</td>
                <td>{{ country.funder.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'application/partial/pagination-control' %}
{% else %}
    {{ ztbalert().info(translate("txt-no-countries-could-be-found"))|raw }}
{% endif %}

{{ form().closeTag()|raw }}

