<div class="well well-itea">
    <h3>{{ translate("txt-country-information") }}</h3>
    <dl class="dl-horizontal">
        <dt>{{ translate("txt-projects") }}</dt>
        <dd>{{ countryLink(country, 'view-project','custom',projects|length) }}</dd>
        <dt>{{ translate("txt-partners") }}</dt>
        <dd>{{ countryLink(country, 'view-organisation','custom',organisations|length) }}</dd>
    </dl>
</div>