<h3>{{ translate("txt-country-information") }}</h3>
<div class="row">
    <div class="col-md-7">
        <dl class="project dl-horizontal">
            <dt>{{ translate("txt-projects") }}</dt>
            <dd>{{ countryLink(country, 'view-project','custom',projects|length) }}</dd>
            <dt>{{ translate("txt-partners") }}</dt>
            <dd>{{ countryLink(country, 'view-organisation','custom',organisations|length) }}</dd>
        </dl>
    </div>
    <div class="col-md-5">
        <div class="pull-left">
            {{ countryFlag(country, 91) }}
        </div>
    </div>
</div>
