{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-web-info-list")) %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{% set filter = form.get('filter') %}

<input type="hidden" name="filter[order]" value="{{ order }}">
<input type="hidden" name="filter[direction]" value="{{ direction }}">

<h1 class="display-4">{{ translate("txt-web-info-list") }} {{ webInfoLink(null, 'new','button') }}</h1>

<div class="row">
    <div class="col-md-6">
        <p class="lead">{{ translate("txt-web-info-list-explanation") }}</p>
    </div>
    <div class="col-md-6">
                <div class="input-group">
                    {{ formelement(filter.get('search')) }}
                    <div class="input-group-append">
                        {{ formelement(form.get('submit')) }}
                    </div>
                </div>
            </div>
</div>


{% if paginator.pageRange > 0 %}
    <table class="table table-hover table-striped table-condensed table-sm">
        <thead>
        <tr>
            <th>{% include 'general/partial/sortable-table-header' with {'route': 'zfcadmin/web-info/list', 'criteria': 'name', 'text': translate('txt-name')} %}</th>
            <th>{% include 'general/partial/sortable-table-header' with {'route': 'zfcadmin/web-info/list', 'criteria': 'subject', 'text': translate('txt-subject')} %}</th>
            <th>{% include 'general/partial/sortable-table-header' with {'route': 'zfcadmin/web-info/list', 'criteria': 'sender', 'text': translate('txt-sender')} %}</th>
            <th>{% include 'general/partial/sortable-table-header' with {'route': 'zfcadmin/web-info/list', 'criteria': 'template', 'text': translate('txt-template')} %}</th>
        </tr>
        </thead>
        <tbody>
        {% for webInfo in paginator.getCurrentItems() %}
            <tr>
                <td>{{ webInfoLink(webInfo,'view','name') }} {{ webInfoLink(webInfo,'edit', 'icon') }}</td>
                <td>{{ webInfo.subject }}</td>
                <td>{{ senderLink(webInfo.sender,'view','name') }}</td>
                <td>{{ mailingTemplateLink(webInfo.template,'view', 'name') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'general/partial/pagination-control' %}
{% else %}
    {{ ztbalert().info(translate("txt-no-web-info-could-be-found"))|raw }}
{% endif %}