{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-web-info-list")) %}

<h1>{{ translate("txt-web-info-list") }}</h1>

{% if paginator.pageRange > 0 %}
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>{{ translate("txt-web-info-id") }}</th>
            <th>{{ translate("txt-web-info-name") }}</th>
            <th>{{ translate("txt-web-info-subject") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for webInfo in paginator.getCurrentItems() %}
            <tr>
                <td>{{ webInfo.id }} {{ webInfoLink(webInfo,'edit', 'icon') }}</td>
                <td>{{ webInfoLink(webInfo,'view','name') }} </td>
                <td>{{ webInfo.subject }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'general/partial/pagination-control' %}
{% else %}
    {{ ztbalert().info(translate("txt-no-templates-could-be-found"))|raw }}
{% endif %}

{{ webInfoLink(null, 'new','button') }}
