{% do form.prepare() %}

{{ form().openTag(form)|raw }}

{% set country = form.get('general_entity_challenge') %}

{{ ztbformelement(country.get('id')) }}
{{ ztbformelement(country.get('challenge')) }}
{{ ztbformelement(country.get('type')) }}
{{ ztbformelement(country.get('sequence')) }}
{{ ztbformelement(country.get('sources')) }}
{{ ztbformelement(country.get('abstract')) }}
{{ ztbformelement(country.get('description')) }}
{{ ztbformelement(country.get('html')) }}
{{ ztbformelement(country.get('backgroundImage')) }}
{{ ztbformelement(country.get('css')) }}
{{ ztbformelement(country.get('backgroundColor')) }}
{{ ztbformelement(country.get('frontColor')) }}
{{ ztbformelement(country.get('call')) }}

{% if challenge.icon %}
    <div class="form-group row">
        <label class="col-md-3 form-control-label control-label col-form-label">{{ translate("txt-current-icon") }}</label>

        <div class="col-sm-9">
            <p class="form-control-static form-control-plaintext">{{ challengeIcon(challenge, 100) }}</p>
        </div>
    </div>
{% endif %}

{{ ztbformelement(country.get('icon')) }}

{% if challenge.image %}
    <div class="form-group row">
        <label class="col-md-3 form-control-label control-label col-form-label">{{ translate("txt-current-image") }}</label>

        <div class="col-sm-9">
            <p class="form-control-static form-control-plaintext">{{ challengeImage(challenge, 200) }}</p>
        </div>
    </div>
{% endif %}


{{ ztbformelement(country.get('image')) }}

{% if challenge.pdf %}
    <div class="form-group row">
        <label class="col-md-3 form-control-label control-label col-form-label">{{ translate("txt-current-pdf") }}</label>

        <div class="col-sm-9">
            <p class="form-control-static form-control-plaintext">{{ challengeLink(challenge,'download-pdf','text') }}</p>
        </div>
    </div>
{% endif %}

{% if challenge.backgroundImage %}
    <div class="form-group row">
        <label class="col-md-3 form-control-label control-label col-form-label">{{ translate("txt-current-background-image") }}</label>

        <div class="col-sm-9">
            <p class="form-control-static form-control-plaintext">{{ image(challenge.image,100) }}</p>
        </div>
    </div>
{% endif %}

{{ ztbformelement(country.get('pdf')) }}

{{ formelement(form.get('csrf')) }}

<div class="form-group row">
    <div class="offset-md-3 col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}

<style type="text/css">
    textarea {
        font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    }
</style>