{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set challenge = form.get('general_entity_challenge') %}

{{ ztbformelement(challenge.get('id')) }}
{{ ztbformelement(challenge.get('challenge')) }}
{{ ztbformelement(challenge.get('type')) }}
{{ ztbformelement(challenge.get('sequence')) }}
{{ ztbformelement(challenge.get('sources')) }}
{{ ztbformelement(challenge.get('abstract')) }}
{{ ztbformelement(challenge.get('html')) }}
{{ ztbformelement(challenge.get('backgroundImage')) }}
{{ ztbformelement(challenge.get('css')) }}
{{ ztbformelement(challenge.get('backgroundColor')) }}
{{ ztbformelement(challenge.get('frontColor')) }}
{{ ztbformelement(challenge.get('call')) }}

{% if challenge.icon %}
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{ translate("txt-current-icon") }}</label>

        <div class="col-sm-9">
            <p class="form-control-plaintext">{{ challengeIcon(challenge, 100) }}</p>
        </div>
    </div>
{% endif %}

{{ ztbformelement(challenge.get('icon')) }}

{% if challenge.image %}
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{ translate("txt-current-image") }}</label>

        <div class="col-sm-9">
            <p class="form-control-plaintext">{{ challengeImage(challenge, 200) }}</p>
        </div>
    </div>
{% endif %}


{{ ztbformelement(challenge.get('image')) }}


{% if challenge.ideaPosterIcon %}
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{ translate("txt-current-idea-poster-icon") }}</label>

        <div class="col-sm-9">
            <p class="form-control-plaintext">{{ challengeIdeaPosterIcon(challenge, 100) }}</p>
        </div>
    </div>
{% endif %}

{{ ztbformelement(challenge.get('ideaPosterIcon')) }}

{% if challenge.image %}
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{ translate("txt-current-idea-poster-image") }}</label>

        <div class="col-sm-9">
            <p class="form-control-plaintext">{{ challengeIdeaPosterImage(challenge, 200) }}</p>
        </div>
    </div>
{% endif %}


{{ ztbformelement(challenge.get('ideaPosterImage')) }}

{% if challenge.pdf %}
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{ translate("txt-current-pdf") }}</label>

        <div class="col-sm-9">
            <p class="form-control-plaintext">{{ challengeLink(challenge,'download-pdf','text') }}</p>
        </div>
    </div>
{% endif %}

{% if challenge.backgroundImage %}
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">{{ translate("txt-current-background-image") }}</label>

        <div class="col-sm-9">
            <p class="form-control-plaintext">{{ image(challenge.backgroundImage, 200, null, false, false, 2) }}</p>
        </div>
    </div>
{% endif %}

{{ ztbformelement(challenge.get('pdf')) }}

{{ formelement(form.get('csrf')) }}

<div class="form-group row">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}

{% do headScript().appendFile('assets/js/codemirror.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/codemirror/css.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/codemirror/htmlmixed.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/codemirror/javascript.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/codemirror/xml.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/codemirror/selection-pointer.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/codemirror/matchbrackets.js', 'text/javascript') %}
{% do headLink().appendStylesheet('assets/css/codemirror.css') %}

<script type="text/javascript">
    var htmlEditor = CodeMirror.fromTextArea(document.getElementById("html_challenge"), {
        mode: "text/html",
        lineNumbers: true,
        selectionPointer: true,
        lineWrapping: true,
        matchBrackets: true
    });
    htmlEditor.setSize(null, 600);
    var cssEditor = CodeMirror.fromTextArea(document.getElementById("css_challenge"), {
        mode: "css",
        lineNumbers: true,
        selectionPointer: true,
        lineWrapping: true,
        matchBrackets: true
    });
    cssEditor.setSize(null, 600);
</script>