{% do form.prepare() %}

{{ form().openTag(form)|raw }}

{% set country = form.get('general_entity_challenge') %}

{{ ztbformelement(country.get('challenge')) }}
{{ ztbformelement(country.get('description')) }}
{{ ztbformelement(country.get('backgroundColor')) }}
{{ ztbformelement(country.get('frontColor')) }}


<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}