{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set contentType = form.get('general_entity_contenttype') %}

{{ ztbformelement(contentType.get('description')) }}
{{ ztbformelement(contentType.get('contentType')) }}
{{ ztbformelement(contentType.get('extension')) }}

{{ formelement(form.get('csrf')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}