{% do form.prepare() %}
{% do form.setAttribute('class','form-horizontal') %}

{{ form().openTag(form)|raw }}

{% set country = form.get('country') %}

{{ ztbformelement(country.get('country')) }}
{{ ztbformelement(country.get('cd')) }}
{{ ztbformelement(country.get('iso3')) }}
{{ ztbformelement(country.get('numcode')) }}


<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {% if form.has('delete') %}
            {{ ztbformelement(form.get('delete')) }}
        {% endif %}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}