{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set country = form.get('general_entity_country') %}

{{ lbs5formelement(country.get('id')) }}
{{ lbs5formelement(country.get('country')) }}
{{ lbs5formelement(country.get('cd')) }}
{{ lbs5formelement(country.get('iso3')) }}
{{ lbs5formelement(country.get('numcode')) }}
{{ lbs5formelement(country.get('countryVat')) }}

{{ formelement(form.get('csrf')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}