{% do form.prepare() %}


{{ form().openTag(form)|raw }}

{% set country = form.get('general_entity_country') %}

{{ ztbformelement(country.get('id')) }}
{{ ztbformelement(country.get('country')) }}
{{ ztbformelement(country.get('cd')) }}
{{ ztbformelement(country.get('iso3')) }}
{{ ztbformelement(country.get('numcode')) }}

{{ formelement(form.get('csrf')) }}

<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}