{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set currency = form.get('general_entity_currency') %}

{{ ztbformelement(currency.get('name')) }}
{{ ztbformelement(currency.get('iso4217')) }}
{{ ztbformelement(currency.get('symbol')) }}

{{ formelement(form.get('csrf')) }}

<div class="form-group row">
    <div class="offset-sm-2 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}