{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set gender = form.get('general_entity_gender') %}

{{ ztbformelement(gender.get('id')) }}
{{ ztbformelement(gender.get('name')) }}
{{ ztbformelement(gender.get('attention')) }}
{{ ztbformelement(gender.get('salutation')) }}

{{ formelement(form.get('csrf')) }}

<div class="form-group row">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}