{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set language = form.get('general_entity_language') %}

{{ lbs5formelement(language.get('id')) }}
{{ lbs5formelement(language.get('language')) }}
{{ lbs5formelement(language.get('locale')) }}

{{ formelement(form.get('csrf')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}