{% do form.prepare() %}


{{ form().openTag(form)|raw }}

{% set currency = form.get('general_entity_password') %}

{{ ztbformelement(currency.get('description')) }}
{{ ztbformelement(currency.get('website')) }}
{{ ztbformelement(currency.get('account')) }}
{{ ztbformelement(currency.get('username')) }}
{{ ztbformelement(currency.get('password')) }}

{{ formelement(form.get('csrf')) }}

<div class="form-group row">
    <div class="offset-md-3 col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {% if form.has('delete') %}
            {{ ztbformelement(form.get('delete')) }}
        {% endif %}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}