{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set currency = form.get('general_entity_password') %}

{{ lbs5formelement(currency.get('description')) }}
{{ lbs5formelement(currency.get('website')) }}
{{ lbs5formelement(currency.get('account')) }}
{{ lbs5formelement(currency.get('username')) }}
{{ lbs5formelement(currency.get('password')) }}

{{ formelement(form.get('csrf')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('submit')) }}
        {% if form.has('delete') %}
            {{ lbs5formelement(form.get('delete')) }}
        {% endif %}
        {{ lbs5formelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}