{% do form.prepare() %}


{{ form().openTag(form)|raw }}

{% set title = form.get('general_entity_title') %}

{{ ztbformelement(title.get('id')) }}
{{ ztbformelement(title.get('name')) }}
{{ ztbformelement(title.get('attention')) }}
{{ ztbformelement(title.get('salutation')) }}

{{ formelement(form.get('csrf')) }}

<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}