{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set title = form.get('general_entity_title') %}

{{ lbs5formelement(title.get('id')) }}
{{ lbs5formelement(title.get('name')) }}
{{ lbs5formelement(title.get('attention')) }}
{{ lbs5formelement(title.get('salutation')) }}

{{ formelement(form.get('csrf')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}