{% do form.prepare() %}
{% do form.setAttribute('class','form-horizontal') %}

{{ form().openTag(form)|raw }}

{% set vat = form.get('general_entity_vattype') %}

{{ ztbformelement(vat.get('type')) }}
{{ ztbformelement(vat.get('description')) }}
{{ ztbformelement(vat.get('vat')) }}


<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}