{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set vat = form.get('general_entity_vat') %}

{{ ztbformelement(vat.get('code')) }}
{{ ztbformelement(vat.get('percentage')) }}
{{ ztbformelement(vat.get('dateStart')) }}
{{ ztbformelement(vat.get('country')) }}

{{ formelement(form.get('csrf')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}