{% do form.prepare() %}


{{ form().openTag(form)|raw }}

{% set webInfo = form.get('general_entity_webinfo') %}

{{ ztbformelement(webInfo.get('id')) }}
{{ ztbformelement(webInfo.get('info')) }}
{{ ztbformelement(webInfo.get('subject')) }}
{{ ztbformelement(webInfo.get('sender')) }}
{{ ztbformelement(webInfo.get('template')) }}
{{ ztbformelement(webInfo.get('content')) }}

{{ formelement(form.get('csrf')) }}


<div class="form-group row">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {% if form.has('delete') %}
            {{ ztbformelement(form.get('delete')) }}
        {% endif %}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}

{% do headScript().appendFile("//cloud.tinymce.com/stable/tinymce.min.js?apiKey=ldq46yojrss1zuwb8q3962xgchritqxw8z0sxhivdmd0zbdk",'text/javascript') %}

<script type="text/javascript">
    tinymce.init({
        selector: 'textarea',
        plugins: [
            "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
            "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
            "save table contextmenu directionality emoticons template paste textcolor"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons",
        force_br_newlines: true,
        relative_urls: true,
        remove_script_host: false,
        document_base_url: "{{ serverUrl() }}",
        entity_encoding: "raw",
        height: 700
    });
</script>