{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set webInfo = form.get('general_entity_webinfo') %}

{{ lbs5formelement(webInfo.get('id')) }}
{{ lbs5formelement(webInfo.get('info')) }}
{{ lbs5formelement(webInfo.get('subject')) }}
{{ lbs5formelement(webInfo.get('sender')) }}
{{ lbs5formelement(webInfo.get('template')) }}
{{ lbs5formelement(webInfo.get('content')) }}

{{ formelement(form.get('csrf')) }}


<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('submit')) }}
        {% if form.has('delete') %}
            {{ lbs5formelement(form.get('delete')) }}
        {% endif %}
        {{ lbs5formelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}

{% do headScript().appendFile('assets/js/codemirror.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/codemirror/htmlmixed.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/codemirror/javascript.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/codemirror/xml.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/codemirror/selection-pointer.js', 'text/javascript') %}
{% do headLink().appendStylesheet('assets/css/codemirror.css') %}

<script type="text/javascript">
    var htmlEditor = CodeMirror.fromTextArea(document.getElementById("html_content"), {
        mode: "text/html",
        lineNumbers: true,
        selectionPointer: true,
        lineWrapping: true,
        matchBrackets: true
    });
    htmlEditor.setSize(null, 600);
</script>